{% extends "base.twig" %}

{% block content %}
	<div><!-- content-wrapper -->
		<article" id="post-{{post.ID}}">
			<section>
				<h1>{{post.title}}</h1>
				<div>
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
